/* 
[X] Convert starter into a responsive, functional navbar
[X] must stretch across the whole page
[X] have a background color set. 
[X] The nav links must be arranged horizontally 
[X] The nave links need be placed below the title
[X] The title should be centered in the middle of the navbar
*/

/* 1. Base Styles */
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

/* 2. Shared Styles */

/* 3. Specific Styles */
.header {
  background-color: #ffebcd;
}

.header__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 650px;
  min-width: 300px;
}

.header__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.main-nav {
  width: 100%;
}

.main-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.main-nav__item {
  padding-bottom: 10px;
}

.main-nav__link {
  color: #1816eb;
  text-decoration: none;
}

.main-nav__link:hover {
  text-decoration: underline;
}

.main-nav__link:active {
  color: #ffff00;
}

.main-nav__link:visited {
  color: #1816eb;
}

/* 4. Responsiveness */
@media screen and (max-width: 678px) {
  .main-nav__list {
    align-items: center;
    flex-direction: column;
  }
}
